 <%= render "shared/header" %>
  <%# 金額の可視化部分 %>
  <div class ="page-title">
  <h1><br><%= "ジャンルの名前" %></h1>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='price-title'>全体の金額</h3>
        <p class='all-details'>
        今月使った金額は＃＃円です。
        <br>累計で＃＃円使っています。
       </p>
      </div>
      <div class='price-genre'>
        <h3 class='price-title'>ジャンル別の金額</h3>
        <p class='genre-details'>
        今月使った金額は＃＃円です。
        <br>累計で＃＃円使っています。
       </p>
      </div>
      <div class='price-category'>
        <h3 class='price-title'>カテゴリー別の金額</h3>
        <p class='category-details'>
        今月使った金額は＃＃円です。
        <br>累計で＃＃円使っています。
       </p>
      </div>
   </div>

  <%# 金額の可視化部分 %>
      
<%= render "shared/footer" %>