.footer {
  background-color: #ffb7b7;
  width: 100vw;
  height: 40px;
  position: absolute;
  bottom: 0;
}

.footer .inner {
  padding: 10px;
}

.copyright {
  font-size: 1vmin;
  text-align: center;
  color: #333;
}
.relative{
  min-height: 100vh;
  position: relative;
}