/* border-bottom: 1px solid #eee; */

/* new edit ページ */
.input-contents {
  background-color: #f5f5f5;
  font-size: 2.5vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.input-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.input-title {
  font-size: 4.5vmin;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
/* new edit ページ */

/* 共通 */
.indispensable {
  background: #f2544c;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 1.5vmin;
  font-weight: bold;
}

.weight-bold-text {
  margin: 2vh;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* /共通 */

/* ジャンル名、アイテム名 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 2vmin;
  resize: none;
}
/* ジャンル名、アイテム名 */

/* アイテムの詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}
/* アイテムの詳細など */

/*月額上限 */
.set-amount {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.price-yen {
  font-size: 3vmin;
}

.price-input {
  height: 5vh;
  text-align: right;
  padding-right: 10px;
}
/*月額上限 */

/* 下部ボタン */
.input-btn-contents {
  margin: 20px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.input-btn {
  background: #ff8484;
  border: 1px solid #ff8484;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 2.5vmin;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 20%;
  text-decoration: none;
  font-size: 2.5vmin;
}
/* 下部ボタン */