<div class='about-contents'>
  <br><h2 class='about-title'>〜Oshi Mitsu〜</h2>
  <p class='service-explanation'>
    <br>〜Oshi Mitsu〜（おしみつ）は
    <br>
    <br>「今月いくら推しに貢いだか」
    <br>「あといくら貢いでいいのか」
    <br>
    <br>予算をしっかり管理することで
    <br>充実した推し活を応援します！
  </p>
</div>

<div class='about-content-1'>
  <br><h2 class='about-content-title'>こんな風に感じたことありませんか？</h2>
  <p class='service-explanation'>
    <br><div class="balloon1">今月は出費が多い！課金にまわせる金額は…？</div>
    <br><div class="balloon2">目をつけていたあのグッズ、発売日はいつだっけ？</div>
    <br><div class="balloon1">ほしいもの全部買うにはいくら必要なんだろう？？</div>
    <br><div class="balloon2">気付いたらめっちゃ貢いでいた！<br>せっかくだから自慢したい！</div>
  </p>
</div>
<div class='about-content-2'>
  <br><h2 class='about-content-title'>＊＊Oshi Mitsuで解決しよう＊＊</h2>
  <p class='service-explanation'>
    <br><div class="balloon3">推しごとにわけて予算を管理！<br>あといくら使っていいかがわかる！</div>
    <br><div class="balloon4"> 目をつけたグッズの発売日の登録ができる！</div>
    <br><div class="balloon3">「購入済み」「絶対欲しい」<br>「気になる」のステータス別の金額がわかる！</div>
    <br><div class="balloon4">Twitterで簡単にシェアも可能♪</div>
  </p>
</div>

<div class='about-content-3'>
  <br><h2 class='about-content-title'>使い方は簡単！</h2>
  <div class="how-to">
    <p>①管理したい推しの画像とテーマを登録！</p>
    <%= image_tag "howto1.jpg", class: "howto-img"%>
  </div>
  <div class="how-to">
    <p>②推しページで金額のチェックが可能！</p>
    <%= image_tag "howto2.jpg", class: "howto-img" %>  
  </div>
  <div class="how-to">
    <p>③アイテムの登録・確認も簡単！</p>
    <%= image_tag "howto3.jpg", class: "howto-img" %>  
  </div>
  <br><h2 class='about-content-title'>あなたも始めてみませんか？</h2>
  <br><h2 class='about-content-title'><li class="gnav-item"><%= link_to '新規登録', new_user_registration_path, class: "gnav-link" %></li></h2>
</div>
