    <footer class="footer">
      <div id="js-page-top" class="page-top">
        <ul class="gnav-list">
          <li class="gnav-item"><a class="gnav-link" href="#">トップページ</a></li>
          <li class="gnav-item"><a class="gnav-link" href="#">ジャンル追加</a></li>
          <li class="gnav-item"><a class="gnav-link" href="#">ログアウト</a></li>
        </ul>
      </div>
      <div class="inner">
        <div class="copyright">Copyright&copy;YUU UYAMA. All Rights Reserved.</div>
      </div>
    </footer>
