// Place all the styles related to the bbss controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bbs-btn{
  background-color: pink;
  float: right;
  margin-right: 20px;
}
.bbs-btn a{
  text-decoration: none;
}

.bbs-links{
  text-align: center;
  margin-top: 20px;
}

.bbs-titles{
  text-align: center;
  margin-top: 20px;
}

.bbs-title{
  margin: auto;
  width: 50%;
  padding: 20px;
  border: solid 2px rgb(180, 178, 178);
  margin-bottom: 10px;
  margin-top: 10px;
}

.bbs-overview{
  font-size: 2vmin;
  white-space: pre-wrap;
}

.bbs-comment{
  text-align: center;
}

.board-date{
  color: gray;
  font-size: 2vmin;
}

.board-content{
  margin: 10px;
  font-size: 2.5vmin;
}

.board-comment{
  width: 30%;
}

.comment-list{
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background-color: #94d7f1;
  color: #333;
  width: 50%;
  padding: 10px;
}

.board-title{
  text-align: center;
  margin: 0 25vw;
  word-wrap: break-word;
}

.comment-count{
  text-align: right;
  font-size: 2vmin;
}
