// Place all the styles related to the bbss controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bbs-btn{
  background-color: pink;
  float: right;
  margin-right: 20px;
}

.bbs-links{
  text-align: center;
  margin-top: 20px;
}

.bbs-titles{
  text-align: center;
  margin-top: 20px;
}