// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  height: calc(100vh- 50px - 100px);
  padding: 50px 0 0 0;
}
.title-contents{
  background-color:  #fff4f4;
  width: 100vw;
  height: 30vh;
  background-image: image-url('heart.jpeg');
  background-size: cover;
}

.service-title{
  text-align: center;
}

.service-explanation{
  text-align: center;
}
.price-contents{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0 0 30px 0;
  padding: 20px;
}

.price-all {
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border-radius: 20px;
    background-color:#fff4f4;
    width: 38vw;
}

.price-status{
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background-color:  #fff4f4;
    border-radius: 20px;
    width: 38vw;
}

.title{
  text-align: center;
}

.genre-contents{
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 30px 0 30px 0;
}
.genre-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.page-title {
  text-align: center;
}

.t{
  font-size: 25px;
  text-align: center;
}

.genre-link a{
  text-decoration: none;
}

.list a{
  text-decoration: none;
  color: #333;
}

.list{
  list-style: none;
}