// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  height: calc(100vh- 50px - 100px);
}
.title-contents{
  margin: 0 20px;
}
.price-contents{
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  padding: 15px;
}


.genre-contents{
  text-align: center;
}
.genre-lists{
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  padding: 15px;
}