// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  height: calc(100vh- 50px - 100px);
}
.title-contents{
  margin: 0 20px;
}
.price-contents{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.price-all {
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border-radius: 50px;
    background-color: #f7e5f2;
    width: 38vw;
}

.price-status{
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background-color:  #f7e5f2;
    border-radius: 50px;
    width: 38vw;
}

.title{
  text-align: center;
}

.genre-contents{
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.genre-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.page-title {
  text-align: center;
}

.genre-link a{
  text-decoration: none;
}

.list a{
  text-decoration: none;
  color: #333;
}

.list{
  list-style: none;
}