// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-list{
  list-style: none;
}
.item-list a{
  text-decoration: none;
  color: #333;
}

table th {
  padding: 10px;
  background-color:#ffe5e5;
}

table td {
  padding: 3px 10px;
}

table {
  border-collapse: collapse;
  border: solid 2px pink;
  width: 100%
}
table th, table td {
  border: solid 1px pink;
}

.table-lists{
  margin: 15px 0;

}
.add-to{
  margin: 10px;
}
.add-to a{
  text-decoration: none;
  background-color: #ffe5e5;
  color: #333;
  padding: 0 20px;
  border-radius: 20px;
}
.btn{
  border: solid 2px white;
  background-color: #ffe5e5;
  border-radius: 20px;
}

.share_link_twitter{
  border: solid 2px white;
  background-color: #a7ddff;
  border-radius: 20px;
}