// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* アイテムリスト */
.item-list{
  list-style: none;
  background-color:#fbd7d7;
}
.item-list a{
  text-decoration: none;
  color: #333;
}

.item-list-sub{
  background-color: #ffeeee;
  font-size: 2.5vmin;
}

table th {
  padding: 5px 10px;
}

table td {
  padding: 5px 10px;
  background-color:#ffffff;
}

table {
  border-collapse: collapse;
  border: solid 2px pink;
  width: 100%;
  white-space: nowrap;
  }

table th, table td {
  border: solid 1px pink;
}

.table-lists{
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
}

.ed-del{
  width: 3vmin;
  height: 3vmin;
}

.add-to{
  margin: 10px;
}
.add-to a{
  text-decoration: none;
  background-color: #ffe5e5;
  color: #333;
  padding: 3px 20px;
  border-radius: 20px;
}

.btn{
  border: solid 2px white;
  background-color: #ffe5e5;
  border-radius: 20px;
  padding: 5px;
}

/* Twitter */

.share_link_twitter{
  border: solid 2px white;
  background-color: #a7ddff;
  border-radius: 20px;
  font-size: 3vmin;
}

